* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#time {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 100%;
}
body {
  background-color: whitesmoke;
}
.top {
  width: 100%;
  background-image: url("../images/cover.jpeg");
  background-blend-mode: overlay;
  background-color: rgba(7, 7, 7, 0.822);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: whitesmoke;
}

.profile-pic {
  width: 100%;
  text-align: center;
  padding: 10% 0 2.5% 0;
  transition: all 1s;
}

.profile-pic img {
  width: 175px;
  height: 175px;
  border-radius: 250px;
  transition: all 0.5s;
}

.profile-pic img:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 35px 0px rgba(4, 148, 129, 0.795);
  transform: scale(1.25);
}

.summary {
  width: 100%;
  text-align: center;
  font-family: arial;
  padding: 0 0 2.5% 0;
}

.social-link {
  margin: -1.5% 0px 2.5% 0px;
  transition: all 0.5s;
}

.social-link img {
  width: 40px;
  height: 40px;
  background-color: rgb(158, 179, 176);
  padding: 5px 5px 5px 5px;
  margin-left: 1%;
  border-radius: 10px;
  transition: all 0.5s;
}

.social-link img:hover {
  background-color: #97d39e;
  border-radius: 0px;
  border: 2px;
  border-color: rgba(16, 37, 20, 0.726);
  border-style: dashed;
  transform: scale(1.1);
  transition: all 0.5s;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.about,
.skills,
.experience {
  width: 80%;
  height: auto;
  margin: 1.5% 0 2.5% 10%;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 25px 3px rgba(128, 128, 128, 0.404);
  overflow: hidden;
  transition: all 0.5s;
}

.descrip,
.personal,
.skill-1,
.skill-2 {
  width: 50%;
  height: auto;
  float: left;
  padding: 25px;
  text-align: justify;
  transition: all 0.5s;
}
.about {
  line-height: 25px;
}
.about:hover,
.skills:hover,
.ex:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.ex {
  width: 100%;
  height: auto;
  background-color: #378c3f;
  margin-bottom: 2.5%;
  box-shadow: 0 0 25px 3px rgba(128, 128, 128, 0.404);
  transition: all 0.5s;
  overflow: hidden;
}

.ex:hover {
  width: 92%;
  margin-left: 4%;
}

.ex-g {
  width: 25%;
  height: 100%;
  padding: 5% 0 0 0;
  color: whitesmoke;
  float: left;
  transition: all 0.5s;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}

.ex-w {
  width: 75%;
  height: 100%;
  background-color: aliceblue;
  float: left;
  line-height: 25px;
  padding: 20px;
  text-align: justify;
  transition: all 0.5s;
  transition: all 0.5s;
}
.myfooter {
  width: 100%;
  padding: 5px;
  background-color: #033b32;
  text-align: center;
  color: aliceblue;
  align-self: center;
}
.myfooter p {
  padding-top: 10px;
}
.myfooter a {
  color: aliceblue;
  font-weight: 600;
}

/*Responsive*/

@media screen and (max-width: 800px) {
  .top {
    height: auto;
  }
  .navbar {
    position: relative;
  }
  .profile-pic:hover {
    margin: 7% 0 7% 0;
  }

  .social-link {
    margin: 5% 0 5% 0;
  }
  .descrip,
  .personal,
  .skill-1,
  .skill-2 {
    width: 100%;
    height: auto;
  }
  .about:hover,
  .skills:hover {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .ex {
    margin-bottom: 10%;
  }
  .ex-g,
  .ex-w {
    width: 100%;
    height: auto;
  }
  .ex-g{
      padding-bottom: 20px;
  }
}
